@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #E5E5E5;
}
/* header */
.nav-bar{
    display: flex;
    background-color: #562EFF;
    margin-bottom: 25px;
    justify-content: space-between;
    
}
.nav-items{
    float: right;
    margin-right: 275px;
}

.nav-icon img{
    width: 40px;
    padding-top: 14px;
    margin-left: 216px;
    
    
}

.nav-items li{  
    float: left;
    
}
.nav-items ul{  
    list-style-type: none;
}
.nav-items li a{  
    display: block;
    padding: 12px;
    text-decoration: none;
}


/* top-players */
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    background-color: #FFFFFF;
    Width: 870px;
    padding: 30px;
    margin-bottom: 21px;
    border-radius: 10px;
   
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

.top-player{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
}

.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* blogs css */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blogs-details{
    display: flex;
    align-items: center;
}

.blogs-details img{
    width: 177px;
}

.blogs-info{
    margin-left: 16px;

}

.blogs-info a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;

}

/* course css */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
    
}
.course-details{
    box-shadow: 5px 5px 20px rgb(230, 230, 230);
    border-radius: 10px;
    padding-left: 24px;
    margin-bottom: 23px;
    
}
.course-details img{
    width: 224px;
}

.course-details p{
    color: #ED6B4F;
    font-size: 14px;
}

.fa-star.filled{
    color: #FFC014;
}
.fa-star{
    color: #AEAEAE;
    font-size: 12px;
}

.course-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 0 0;
    margin-bottom: 22px;

}

.course-duration{
    color: #ED6B4F;
    border-radius: 15px;
    background-color: #FFE4E8;
    
}

@media only screen and (max-width:688px) {
    .nav-bar{
        width: 100%;
        align-items: center;
    }
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr); 
    }
    .player, .blogs-details, .course-details{
        flex-direction: column;
        justify-content: center;
    }
    
}

@media only screen and (min-width:688px) and (max-width:992px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .players, .blogs-details, .course-details{
        flex-direction: column;
        justify-content: center;
    }
}